.account_sec {
  height: 10%;
}

.account_sec .avatar {
  width: 65px;
  height: 65px;
}

.nav_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%
}

.nav_header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  align-items: center;
}

.nav_header .nav_icon {
  height: auto;
  width: 30px;
}

.nav_header .arrow_icon {
  transition: all .5s;
}

.nav_header[aria-expanded="true"] .arrow_icon {
  transform: rotate(90deg);
}